* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #2c2c2c;
    box-shadow: 0 10px 60px black;
}

.logo-container {
    width: 4.5rem;
}

.logo-container img {
    width: 100%;
}

.navigations ul {
    display: flex;
}

.navigations ul li{
    list-style: none;
}

.navigations ul li a {
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 1rem;
    margin: 0 0.95rem;
    position: relative;
}

.navigations ul li a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -6px;
    background-color: #ff5500;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navigations ul li a:hover::before, .navigations ul li a:focus::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navigations ul li a:hover, .navigations ul li a:focus {
    color: white;
}

/* setting the home as default with underline design 
    -> for this use a class name active */

.navigations ul li a.active::before {
    transform: scaleX(1);
}

.navigations ul li a.active {
    color: white;
}

.nav-hire-me-button a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    border: 2px solid #ff5500;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 0 20px black;
    transition: 0.3s;
}

.nav-hire-me-button a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #ff5500;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-in;
}

.nav-hire-me-button a:hover::before {
    transform: scaleX(1);
}

.nav-hire-me-button a:active {
    transform: scale(0.9);
}

